{% extends "base.html" %}
{% block title %}Авторизация{% endblock %}
{% block content %}
    <h1>Авторизация</h1>
    {% if form.errors %}
        <p>Ваш логин и пароль не совпадают. Повторите попытку.</p>
    {% else %}
        <p>Пожалуйста, введите логин (Username) и пароль (Password). Если у вас
            нет аккаунта - <a href="{% url "register" %}">зарегистрируйтесь.</a>
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">

            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Log-in"></p>
        </form>
        <p><a href="{% url "password_reset" %}">Забыли свой пароль?</a></p>
    </div>
    <div class="social">
        <ul>
            <li class="facebook"><a href="{% url "social:begin" "facebook" %}">
                Регистрация через Facebook</a></li>
            <li class="google">
                <a href="{% url "social:begin" "google-oauth2" %}">
                    Регистрация через Google
                </a>
            </li>
        </ul>
    </div>
{% endblock %}